.movies-wrapper {
  width: 100vw;
  height: 150px;
  color: #fff;
  background: linear-gradient(
    to bottom,
    #171717 0%,
    #171717 81%,
    #1d1d1d 81%,
    #1d1d1d 100%
  );
}

.movies-main {
  width: 1200px;
  margin-inline: auto;
  padding-top: 30px;
}

.movies-header {
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
}

.search-sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
