.header-wrapper {
  width: 100%;
  height: 75px;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  background: #131313;
}

.header-main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 1100px;
  margin-inline: auto;
}

@media only screen and (min-width: 1400px) {
  .header-main {
    width: 1200px;
  }
}

@media only screen and (max-width: 1200px) {
  .header-main {
    width: 90%;
  }
}

.burger-button {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

@media only screen and (max-width: 992px) {
  .nav-bar {
    gap: 40px;
  }
}

.nav-bar-pos {
  cursor: pointer;
  list-style-type: none;
  height: 67px;
  line-height: 67px;
}

.go-back:hover,
.nav-bar-pos:hover {
  box-shadow: #e50914 0 4px;
  color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 768px) {
  .hide-menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav-bar {
    position: absolute;
    top: 70px;
    left: 0;
    gap: 0;
    flex-direction: column;
  }

  .nav-bar-pos {
    position: relative;
    height: 30px;
    width: 100px;
    line-height: 100%;
    padding: 10px 10px;
    margin: 0 4px 0 0;
    background: #131313;
  }

  .nav-bar-pos:hover {
    box-shadow: none;
  }

  .nav-bar-pos::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4px;
    background: #e50914;
    opacity: 0;
    z-index: 1;
  }

  .nav-bar-pos:hover::before {
    opacity: 1;
  }
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.favourite {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.go-back {
  cursor: pointer;
  margin: 10px 20px;
  height: 67px;
  line-height: 67px;
}

.stars:hover {
  cursor: pointer;
}

.stars-counter {
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.stars svg {
  margin-right: 5px;
}

.burger-button svg {
  width: 40px;
  height: 40px;
  fill: currentColor;
}
